# Python
venv/
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.Python
Scripts/
Lib/
Include/
pyvenv.cfg
*.dist-info/
*.egg-info/

# Environment
.env

# Database
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
